*{
    box-sizing: border-box;
}

.container {
    display: grid; /* Define el contenedor como grid */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    grid-gap: 20px; /* Espacio entre las columnas y filas */
  }
  
  .item {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }
  
