* {
  box-sizing: border-box;
}

.container {
  display: grid;
  /* Define el contenedor como grid */
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr ;
  /* 3 columnas de igual tamaño */
  grid-gap: 20px;
  /* Espacio entre las columnas y filas */
}

.item {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

.item-1 {
  background-color: rgb(5, 59, 77);
  padding: 20px;
  text-align: center;
  grid-column: 1/4;
}

